html
    head
        title!= title
    body
        h1!= message
        p Sed ut perspiciatis, unde omnis
            | iste natus error sit
            | voluptatem accusantium doloremque
            | laudantium, totam rem aperiam

        - var x = 5;
            div
                ul
                    - for (var i=1; i<=x; i++) {
                        li Hello, world!
                    - }

        - var x = 5;
            div
                ul
                    - for (var i=1; i<=x; i++) {
                        li= i + ". Hello, world!"
                    - }

        - var droids = ["R2D2", "C3PO", "BB8"];
            div
                h2 Famous Droids from Star Wars
                for name in droids
                    div.card
                        h3= name

        - var profileName = "Danny Ocean";
            div
                p Hi there, #{profileName}. How are you doing?


        mixin thumbnail(imageName, caption)
            div.thumbnail
                - var isrc = "/static/images/"+imageName+".png";
                    img(src=isrc)
                    h4.image-caption= caption

        +thumbnail("user", "Danny Ocean makes an elevator pitch.")
        +thumbnail("user", "Introducing Captain Jack Sparrow!")
